
body {
    background-color: #fff;
    color: #000;
    font-size: 0.9em;
    font-family: sans-serif,helvetica;
    margin: 0;
    padding: 0;
}

header {
background-color: #000;
text-align: center;
}

:link {
    color: #c00;
}

:visited {
    color: #c00;
}

a:hover {
    color: #f50;
}


titletext {
    text-align: center;
    margin: 0;
    padding: 0.6em 2em 0.4em;
    color: #D00000;
    font-weight: normal;
    font-size: 1.75em;
  }

    titletext strong {
        font-weight: bold;
        font-size: 1.5em;
    }
    
h1 {
    text-align: center;
    margin: 0;
    padding: 0.6em 2em 0.4em;
    color: #000000;
    font-weight: normal;
    font-size: 1.75em;
  }

    h1 strong {
        font-weight: bold;
        font-size: 1.5em;
    }

h2 {
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
    margin: 0;
    padding: 0.5em;
}

hr {
    display: none;
}

.content {
    padding: 1em 5em;
}

.alert {
    border: 2px solid #000;
}

img {
    border: 2px solid #fff;
    margin: 2px 2px 2px 2px;
    
}

#headerimage
{
    width: 99%;
    margin-left: auto;
    margin-right: auto;
   
}

a:hover img {
    border: 2px solid #294172;
}

.logos {
    margin: 1em;
    text-align: center;
}

