﻿<%@ Page Title="ASP.NET HW" Language="C#" MasterPageFile="./Site.Master" AutoEventWireup="true"
    CodeBehind="Default.aspx.cs" Inherits="Mono.Default" %>

<asp:Content ID="HeaderContent" runat="server" ContentPlaceHolderID="HeadContent">
</asp:Content>
<asp:Content ID="BodyContent" runat="server" ContentPlaceHolderID="MainContent">

    

    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
   
    <p>
        Hello World ! 
    </p>
   
       
</asp:Content>

